.ingredientDesc {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  height: 58px;
}

.descWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image {
  width: 64px;
  height: 64px;
  border: 2px solid hotpink;
  border-radius: 100px;
  background: black;
  margin-right: 20px;
}
.ingredientName {
  text-align: center;
}

.finalPrice {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
