.section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  align-items: flex-end;
}

.orderWrap {
  display: flex;
  align-items: center;
}

.iconWrap {
  display: flex;
  align-items: center;
}

.listWrap {
  margin: 0;
  display: flex;
}