.section {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
}

.listWrap {
  position: relative;
  overflow: scroll;
}

.orderWrap {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.iconWrap {
  display: flex;
  align-items: center;
}
