.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px;
}

.name {
  text-align: center;
  margin-top: 0;
}

.icon {
  border: none;
}

.infoWrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  margin: 0;
}