.main {
  flex: 1;
  margin-left: 340px;
  margin-right: 340px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media screen and (max-width: 1900px) {
  .main {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media screen and (max-width: 1820px) {
  .main {
    margin-left: 260px;
    margin-right: 260px;
    gap: 20px;
  }
}

@media screen and (max-width: 1640px) {
  .main {
    margin-left: 180px;
    margin-right: 180px;
  }
}

@media screen and (max-width: 1500px) {
  .main {
    margin-left: 80px;
    margin-right: 80px;
  }
}
