.list {
  margin: auto;
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 32px 24px;
  overflow: auto;
  padding: 0;
  
}

.title {
  margin-top: 0;
}

.listWrap {
  display: flex;
  flex-direction: column;
}

