.list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 32px 24px;
  overflow: auto;
}

.title {
  margin-top: 0;
}

