.wrap {
  padding-top: 180px;
  min-height: 100vh;
}

.form {
  width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputWrap,
.inputWrap > div,
.inputWrap > div > div {
  width: 100%;
}

.inputError {
  display: block;
  width: 100%;
  color: rgb(255,0,0);
}

.link {
  color: #4C4CFF;
  text-decoration: none;
  transition: all ease 0.3s;
}

.link:hover {
  opacity: .6;
}

