.list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  height: calc(100vh - 540px);
  overflow: auto;
  align-items: flex-end;
  margin: 0;
}

.title {
  margin-top: 0;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.onDrop {
  opacity: .5;
}

.messageWrap {
  display: flex;
  height: calc(100vh - 540px);
}

.message {
  margin: auto;
}