.section {
  width: 50%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}


.tabWrap {
  display: flex;
  flex-direction: row;
}

.listWrap {
  position: relative;
  height: calc(100vh - 300px);
  overflow: auto;
}

.orderWrap {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.iconWrap {
  display: flex;
  align-items: center;
}