.section {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
}

.tabWrap {
  display: flex;
  flex-direction: row;
}

.listWrap {
  position: relative;
  overflow: scroll;
}
